@use "./variables" as *;
@use "./fonts" as *;

.card {
  max-width: 300px;
  background-color: $primaryClr;
  padding: $gap;
  border-radius: 10px;
  border: 1px solid #ffffff0c;

  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);

  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  opacity: 0;

  transform: translateY(50px);

  & > *:not(.card--link) {
    margin-bottom: 0.5rem;
  }

  .card-title {
    font-family: trap-bold;
    font-size: $fontmdm;
    -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  }

  .card--text {
    font-size: 0.9rem;
    opacity: $opacity50;
  }

  .card--link {
    position: relative;

    a {
      color: $secondaryClr;
      margin-right: $gap;
      -webkit-transition: color 0.3s ease;
      -o-transition: color 0.3s ease;
      transition: color 0.3s ease;

      &:hover {
        color: $accentClr;
      }
    }

    i {
      font-size: $fontmdm;
    }
  }

  .toolContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.5rem;

    h3 {
      font-size: 0.7rem;
      background-color: #284b63;
      padding: 0.1rem 0.4rem;
      opacity: 0.5;
      border-radius: 7px;
      -webkit-box-shadow: 2px 2px 2px #0f2224;
      box-shadow: 2px 2px 2px #0f2224;
    }
  }
}
