@use "./variables" as *;

@media (width > 37.5rem) {
  .main-bottom-text {
    -ms-flex-item-align: end;
    align-self: flex-end;
    text-align: end;
    margin-top: 2rem;
  }
}

@media (max-width: 600px) {
  body {
    overflow-x: hidden;
  }
  section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .menu-bar {
    display: block;
    color: $secondaryClr;
    font-size: 1.5rem;

    &:active {
      color: $accentClr;
    }
  }

  .primary-nav {
    position: absolute;
    top: -1500%;
    left: 0;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    -webkit-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
    padding-top: 2rem;
    z-index: -1;

    & > li {
      padding-bottom: 2rem;
    }

    &.active {
      top: 60px;
    }
  }

  main .main-container > * {
    margin-bottom: 0.5rem;
  }

  .contact-container {
    text-align: center;
  }
}
@media (width > 600px) {
  .project {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;

    .section-title {
      text-align: end;
    }
  }
  .menu-bar {
    display: none;
  }
}
