$primaryClr: #272932;
$secondaryClr: #e7ecef;
$accentClr: #0f7173;

$gap: 1.5rem;
$gapSection: 10rem;
$opacity50: 20%;

$paddinginlinesection: min(10%, 12rem);
$paddingblocksection: 5rem;

$sectionContainerWidth: min(70rem, 100%);
