@forward "./resets";
@forward "./media-queries";
@forward "./cards";

@use "./variables" as *;
@use "./fonts" as *;
@use "./mixins" as *;

html {
  scroll-behavior: smooth;
}

body {
  background-color: $accentClr;
  overflow-x: hidden;
  color: $secondaryClr;
  font-family: trap-regular;
  position: relative;
}

.scroll-down header {
  transform: translate3d(0, -100%, 0);
}

.scroll-up header {
  box-shadow: 1px 1px 20px rgba(255, 255, 255, 0.082);
  padding-block: 1rem;
  background-color: transparent;
}

header {
  position: sticky;
  top: 0;
  z-index: 9999;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding-block: 1.9942rem;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}

section {
  @include paddingsection;
  line-height: $lineHeight;
}

li > a {
  font-family: trap-medium;
  color: $secondaryClr;
  position: relative;

  &:hover,
  &:focus {
    color: $secondAccentClr;
  }
}

ul {
  @include flex(none, center, $gap);

  font-size: 1.25rem;

  .active {
    padding: 1rem 2rem;
    background-color: $primaryClr;
    border-radius: 0.3125rem;
  }
}

nav {
  @include flex(space-between, center, none);
  padding-inline: $paddinginlinesection;
}

.sm-item {
  font-size: $fontlrg;
}

main {
  @include flex(center, center, none);
  @include paddingsection;
  user-select: none;

  .main-container {
    width: $sectionContainerWidth;
    transform: translateY(100px);
  }

  .main-title-container {
    display: flex;

    .main-title {
      font-size: clamp(2.5rem, 5vw, 5.625rem);
      font-family: trap-extraBold;
      position: relative;

      span {
        position: absolute;
        -webkit-text-stroke: 2px $primaryClr;
        top: 7px;
        left: 7px;
        z-index: -1;
        color: transparent;
      }
    }
  }

  .main-button-container {
    max-width: 404px;
    width: 100%;
    @include flex(none, none, $gap);
    flex-direction: column;

    a {
      width: 100%;
    }

    .main-button {
      padding-block: 0.9em;
      font-size: 1.25rem;
      font-family: trap-bold;
      border: 1px solid $primaryClr;
      border-radius: 0.3125rem;
      box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.25);
      cursor: pointer;
      transition: 0.3s ease;
      width: 100%;
    }

    .work-button {
      background-color: $primaryClr;
      color: $secondaryClr;

      &:hover {
        background-color: $secondAccentClr;
      }
    }
    .resume-button {
      background-color: $accentClr;

      &:hover {
        background-color: $secondAccentClr;
        color: $secondaryClr;
      }
    }
  }

  .main-bottom-container {
    display: flex;
    justify-content: space-between;
    color: $fadeClr;
    margin-top: 0.75rem;

    .main-title-pos {
      font-size: 1.25rem;
      font-family: trap-bold;
      line-height: $lineHeight;
    }

    .main-bottom-text {
      max-width: 21.875rem;
      line-height: $lineHeight;
      font-family: trap-thin;
      font-size: $fontsmll;
    }
  }
}

.title-anim {
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  opacity: 0;
}

.contact-container {
  width: $sectionContainerWidth;

  .contact-title {
    @include sectionContentTitle;
  }
  .contact-text {
    max-width: 36rem;
    font-size: $fontsmll;
  }

  & > *:not(button) {
    margin-bottom: $gap;
  }

  button {
    @include sectionBtn;
    font-size: clamp(40%, 4vw, $fontlrg);
    padding: 1rem 2rem;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    font-family: trap-medium;

    &:hover,
    &:focus {
      -webkit-box-shadow: inset 15em 0 0 0 $secondaryClr;
      box-shadow: inset 15em 0 0 0 $secondaryClr;
      color: $accentClr;
    }
  }
}

footer {
  text-align: center;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  h1 {
    font-size: clamp(0.4rem, 3vw, 0.8rem);
    opacity: 0.2;
  }
}

.section-title-container {
  font-family: trap-Bold;
  margin-bottom: 3rem;

  h1 {
    @include sectionTitle;
  }
  .section-subtitle {
    @include sectionSubtitle;
  }
}

.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: $secondaryClr;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: $secondaryClr;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--vortex-r .hamburger-inner {
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.hamburger--vortex-r .hamburger-inner::before,
.hamburger--vortex-r .hamburger-inner::after {
  transition-duration: 0s;
  transition-delay: 0.1s;
  transition-timing-function: linear;
}
.hamburger--vortex-r .hamburger-inner::before {
  transition-property: top, opacity;
}
.hamburger--vortex-r .hamburger-inner::after {
  transition-property: bottom, transform;
}

.hamburger--vortex-r.is-active .hamburger-inner {
  transform: rotate(-765deg);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.hamburger--vortex-r.is-active .hamburger-inner::before,
.hamburger--vortex-r.is-active .hamburger-inner::after {
  transition-delay: 0s;
}
.hamburger--vortex-r.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
}
.hamburger--vortex-r.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
}
